@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

html, body, .product-page__bg-shadow {
  min-height: 100vh;
}

.product-page {
  background-image: url("img/bg_pattern.jpg");
}

.product-page__bg-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
}

.product-section {
  width: 100%;
  max-width: 1280px;
  padding-top: 36px;
  padding-bottom: 67px;
}

.product-section__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 328px;
  height: 517px;
  border-radius: 12px;
  background: linear-gradient(135deg, transparent 42px, #1698D9 0) top left;
  margin-bottom: 14px;

  &:hover {
    cursor: pointer;
  }
}

.product-card__inner {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, transparent 41px, #FFF 0) top left;
  width: 320px;
  height: 509px;
  border-radius: 12px;
}

.product-card__bg {
  position: absolute;
  left: -24px;
  bottom: -88px;
}

.product-card__weight-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  bottom: 16px;
  right: 16px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #1698D9;
  box-sizing: border-box;
  font-size: 42px;
  line-height: 22px;
  color: #FFF;
  text-align: center;

  span {
    display: block;
    font-size: 21px;
    line-height: 22px;
  }
}

.product-card__text-block {
  padding-top: 21px;
  padding-left: 48px;
}

.product-card__weight-value {
  display: block;
  font-size: 42px;
  line-height: 22px;
  color: #FFF;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 8px;
}

.product-card-portions-block {
  display: flex;

  p {
    display: block;
  }
}

.product-card__portions {
  display: block;
  margin-right: 5px;
}


.card-wrapper__call-to-action {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;

  a {
    color: #1698D9;
    margin-left: 6px;
    border-bottom: dashed 1px;

    &:hover {
      cursor: pointer;
    }
  }
}

.product-section__title {
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFF;
  text-shadow: 0 1px 1px #000000;
  margin-bottom: 25px;
}

.product-card__preferences, .product-card__promo {
  padding-left: 3px;
  color: #666;
}

.product-card__preferences {
  font-size: 16px;
  line-height: 19px;
}

.product-card__brand {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.product-card__description {
  padding-left: 3px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-custom-checkbox-block {
  position: relative;

  &:hover {
    .product-card {
      background: linear-gradient(135deg, transparent 42px, #2EA8E6 0) top left;

      .product-card__weight-label {
        background: #2EA8E6;
      }
    }
  }
}

.product-card__input {
  &:checked + .product-card {
    background: linear-gradient(135deg, transparent 42px, #D91667 0) top left;

    .product-card__weight-label {
      background: #D91667;
    }
  }

}


.product-card__input_hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
